/*Navbar starts here*/
.navPanel .nav {
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    width: 20%;git
    height: 100%;
}
a:link {
    text-decoration: none;
}
/*Home(Index) Page starts here*/
#homeText {
    background: url(../img/TurnTable.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  /*Opera 10+supported*/
  background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
    background-attachment: fixed; /*keeps image cropped by smallest dimension  as window size changes*/
}




/*Demo page styles start here*/
#demo {
    background: url(../img/ConcertHands.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  /*Opera 10+supported*/
  background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
}

#demo .music {
    background-color: rgba(1, 1, 1, 0.5);  /*hexcolor codes did not work well for this transparency*/
    filter: alpha(opacity=40); /* For IE8 and earlier */
    width: 50%;
    height: 10%;
    padding: 3% 3%;
    font-size: 20px;
    margin: 5% auto;
    font-weight:bold;
    color:#000000;
  }

#demo .music embed {
        margin: 30px 40px;
        font-weight:bold;
        color:#000000;
        opacity: 1.0;
}
/*calendar page styles start here*/
#calendarBackground {
        background: url(../img/allens.jpeg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; /*Opera 10+supported*/
        background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
        width: 830px;
        margin: 50px auto;
}

.transparentBox {
         background-color: rgba(1, 1, 1, 0.4);  /*hexcolor codes did not work well for this transparency*/
         filter: alpha(opacity=40);  /*For IE8 and earlier*/
         padding: 15px;
         -webkit-border-radius: 12px;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
         -moz-border-radius: 12px; /* Firefox 1-3.6 */
         border-radius: 12px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  }

/*#calendarBackground iframe {
        marg*/in-top: 10% auto;
} */
/****contact form's loading spinner from here on***/
#fountainTextG {
        width:240px;
}

.fountainTextG{
        color:#A6A5A1;
        font-family:Symbol;
        font-size:25px;
        text-decoration:none;
        font-weight:normal;
        font-style:normal;
        float:left;
        -moz-animation-name:bounce_fountainTextG;
        -moz-animation-duration:3.08s;
        -moz-animation-iteration-count:infinite;
        -moz-animation-direction:linear;
        -moz-transform:scale(.5);
        -webkit-animation-name:bounce_fountainTextG;
        -webkit-animation-duration:3.08s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-direction:linear;
        -webkit-transform:scale(.5);
        -ms-animation-name:bounce_fountainTextG;
        -ms-animation-duration:3.08s;
        -ms-animation-iteration-count:infinite;
        -ms-animation-direction:linear;
        -ms-transform:scale(.5);
        -o-animation-name:bounce_fountainTextG;
        -o-animation-duration:3.08s;
        -o-animation-iteration-count:infinite;
        -o-animation-direction:linear;
        -o-transform:scale(.5);
        animation-name:bounce_fountainTextG;
        animation-duration:3.08s;
        animation-iteration-count:infinite;
        animation-direction:linear;
        transform:scale(.5);
}

#fountainTextG_1{
        -moz-animation-delay:0.88s;
        -webkit-animation-delay:0.88s;
        -ms-animation-delay:0.88s;
        -o-animation-delay:0.88s;
        animation-delay:0.88s;
}

#fountainTextG_2{
        -moz-animation-delay:1.1s;
        -webkit-animation-delay:1.1s;
        -ms-animation-delay:1.1s;
        -o-animation-delay:1.1s;
        animation-delay:1.1s;
}

#fountainTextG_3{
        -moz-animation-delay:1.32s;
        -webkit-animation-delay:1.32s;
        -ms-animation-delay:1.32s;
        -o-animation-delay:1.32s;
        animation-delay:1.32s;
}

#fountainTextG_4{
        -moz-animation-delay:1.54s;
        -webkit-animation-delay:1.54s;
        -ms-animation-delay:1.54s;
        -o-animation-delay:1.54s;
        animation-delay:1.54s;
}

#fountainTextG_5{
        -moz-animation-delay:1.76s;
        -webkit-animation-delay:1.76s;
        -ms-animation-delay:1.76s;
        -o-animation-delay:1.76s;
        animation-delay:1.76s;
}

#fountainTextG_6{
        -moz-animation-delay:1.98s;
        -webkit-animation-delay:1.98s;
        -ms-animation-delay:1.98s;
        -o-animation-delay:1.98s;
        animation-delay:1.98s;
}

#fountainTextG_7{
        -moz-animation-delay:2.2s;
        -webkit-animation-delay:2.2s;
        -ms-animation-delay:2.2s;
        -o-animation-delay:2.2s;
        animation-delay:2.2s;
}

#fountainTextG_8{
        -moz-animation-delay:2.42s;
        -webkit-animation-delay:2.42s;
        -ms-animation-delay:2.42s;
        -o-animation-delay:2.42s;
        animation-delay:2.42s;
}

#fountainTextG_9{
        -moz-animation-delay:2.64s;
        -webkit-animation-delay:2.64s;
        -ms-animation-delay:2.64s;
        -o-animation-delay:2.64s;
        animation-delay:2.64s;
}

#fountainTextG_10{
        -moz-animation-delay:2.86s;
        -webkit-animation-delay:2.86s;
        -ms-animation-delay:2.86s;
        -o-animation-delay:2.86s;
        animation-delay:2.86s;
}

@-moz-keyframes bounce_fountainTextG{
0%{
        -moz-transform:scale(1);
        color:#A6A5A1;
}

100%{
        -moz-transform:scale(.5);
        color:#858185;
}

}

@-webkit-keyframes bounce_fountainTextG{
0%{
        -webkit-transform:scale(1);
        color:#A6A5A1;
}

100%{
        -webkit-transform:scale(.5);
        color:#858185;
}

}

@-ms-keyframes bounce_fountainTextG{
0%{
        -ms-transform:scale(1);
        color:#A6A5A1;
}

100%{
        -ms-transform:scale(.5);
        color:#858185;
}

}

@-o-keyframes bounce_fountainTextG{
0%{
        -o-transform:scale(1);
        color:#A6A5A1;
}

100%{
        -o-transform:scale(.5);
        color:#858185;
}

}

@keyframes bounce_fountainTextG{
0%{
        transform:scale(1);
        color:#A6A5A1;
}

100%{
        transform:scale(.5);
        color:#858185;
}

} - See more at: http://cssload.net/en/animated_text#sthash.nSGk8O8w.dpuf