
/*Home Page starts here*/
#home {
    background: url(../img/OffsetTurnTable.jpg) no-repeat center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
    -o-background-size: cover;  /*Opera 10+supported*/
    background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
    background-attachment: cover; /*keeps image cropped by smallest dimension  as window size changes*/
}
#home header {
      font-family: chalkduster, mistral, sans-serif;
      font-size:  60px;
      color: white;
      margin-top:  3%;
      margin-left: 15%;
}

/*About page styling starts here*/
#bioBackground {
        background: url(../img/Highline3.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;  /*Opera 10+supported*/
      background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
}

/*Demo page styles start here*/
#demo {
    background: url(../img/ConcertHands.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  /*Opera 10+supported*/
  background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
}

 .musicSliderContainer {
    background-color: rgba(1, 1, 1, 0.5);  /*hexcolor codes did not work well for this transparency*/
    filter: alpha(opacity=50); /* For IE8 and earlier */
    width: 55%;
    padding: 3% 3%;
    margin-left: 11%;
    margin-top: 4%;
    border-radius: 10px;
}


/*calendar page styles start here*/
#calendarBackground {
        background: url(../img/bluelights.jpg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; /*Opera 10+supported*/
        background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
}

#calendarContainer {
         background-color: rgba(1, 1, 1, 0.6); /*hexcolor codes did not work well for this transparency*/
         filter: alpha(opacity=60);  /*For IE8 and earlier*/
         /*padding: 20px;*/
         -webkit-border-radius: 12px;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
         -moz-border-radius: 12px; /* Firefox 1-3.6 */
         border-radius: 10px; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
         width: 76%;
         height: 70%;
         padding: 3%;
         margin-top: 3%;
         margin-left:  2%;
  }

#calendarContainer  iframe {
        width: 100%;


}

/*contact page styling starts here */
#contactBody {
          background: url(../img/velvetyRed.jpg) no-repeat center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;  /*Opera 10+supported*/
          background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
          padding-top: 5%;
          padding-left: 30%;
}

.contactBody.iframe {
    margin-left: 75px;
    margin-top: 20px;

}
/*Pertains to all pages except the gallery page*/

aside {
  width: 30%;
  height: 100%;
  float: left;
  margin-left: 0%;
  margin-bottom:  1%;
  position: fixed;
}

.content {
    width:  70%;
    height:  100%;
    float: right;
}
.allTextFields {
    background: rgba(255,255,255, 0.7);  hexcolor codes did not work well for this transparency
    filter: alpha(opacity=70);  /*For IE8 and earlier*/
    width: 70%;
    padding: 3%;
    margin: 5% auto;
    margin-left:  5%;
    border-radius:  10px;
}
 .words {
   font-size:  20px;
   font-family: tahoma, helvetica, sans-serif;
   line-height: 150%;
   padding-bottom:  17px;
   color:  black;
}

.allTextFields ul {
    padding-left: 4%;
}
footer {
   margin-bottom: 2%;
}

footer .words {
    width: 70%;
    margin-bottom:  3%;
   margin-left: 30%;
   color: white;
   font-size: 16px;
   vertical-align: baseline;
}